/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


input:focus {
    outline: none;
    border: none;
}


.hide-scrollbar::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1px;
}

.hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}
